.carousel-wrapper {
    overflow: hidden;
    width: 90%;
  }

.carousel {
    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

  .carousel__photo {
    z-index: 100;
    transition: transform .5s, opacity .5s, z-index .5s;
    width: 33%;
    height:300px;
    background: white;
  }


.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top:50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001;
  border: 2px solid black;
}
.carousel__button--prev {
  left:0;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.container {
  position: relative;
  text-align: center;
  color: white;
}


.text-block {
  /* background-color:rgba(0, 0, 0, 0.5); */
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.category-dropdown{
  text-align: center;
}